USE master;

IF DB_ID('FerrariDB') IS NOT NULL
	DROP DATABASE FerrariDB;

CREATE DATABASE FerrariDB;
GO

USE FerrariDB;

CREATE TABLE [Car] (
  [id] INT PRIMARY KEY IDENTITY (1,1), -- svarer til stelnummer
  [model] NVARCHAR(255) NOT NULL,
  [year] INT NOT NULL,
  [price] DECIMAL(10,2) NOT NULL,
  [status] INT NOT NULL
);

CREATE TABLE [Customer] (
  [id] INT PRIMARY KEY IDENTITY (1,1),
  [first_name] NVARCHAR(255) NOT NULL,
  [last_name] NVARCHAR(255) NOT NULL,
  [phone_number] NVARCHAR(255) NOT NULL,
  [email] NVARCHAR(255) NOT NULL,
  [address] NVARCHAR(255) NOT NULL,
  [cpr] NVARCHAR(255) NOT NULL,
  [status] INT NOT NULL
);

CREATE TABLE [Employee] (
  [id] INT PRIMARY KEY IDENTITY (1,1),
  [first_name] NVARCHAR(255) NOT NULL,
  [last_name] NVARCHAR(255) NOT NULL,
  [phone_number] NVARCHAR(255) NOT NULL,
  [email] NVARCHAR(255) NOT NULL,
  [password] NVARCHAR(255) NOT NULL,
  [max_loan] DECIMAL(10,2) NOT NULL,
  [status] INT NOT NULL
);

CREATE TABLE [Loan] (
  [id] INT PRIMARY KEY IDENTITY (1,1),
  [car_id] INT NOT NULL,
  [customer_id] INT NOT NULL,
  [employee_id] INT NOT NULL,
  [loan_size] DECIMAL(10,2) NOT NULL,
  [down_payment] DECIMAL(10,2) NOT NULL,
  [interest_rate] DECIMAL(5,2) NOT NULL,
  [start_date] DATE NOT NULL, -- sættes tilpas ude i fremtiden så det kan godkendes
  [end_date] DATE NOT NULL,
  [status] INT NOT NULL,
  FOREIGN KEY ([car_id]) REFERENCES [Car]([id]),
  FOREIGN KEY ([customer_id]) REFERENCES [Customer]([id]),
  FOREIGN KEY ([employee_id]) REFERENCES [Employee]([id])
);

INSERT INTO [Car] VALUES ('F8 Tributo', 2022, 1650000.00, 0);
INSERT INTO [Car] VALUES ('812 Superfast', 2021, 2000000.00, 0);
INSERT INTO [Car] VALUES ('Portofino M', 2023, 1450000.00, 0);

INSERT INTO [Customer] VALUES ('Mads', 'Nielsen', '55123456', 'mads.nielsen@email.dk', 'Strandvejen 11, 2920 Charlottenlund', '0101755431', 0);
INSERT INTO [Customer] VALUES ('Morten', 'Jensen', '66123456', 'morten.jensen@email.dk', 'Bredgade 25, 7400 Herning', '2205831236', 0);
INSERT INTO [Customer] VALUES ('Christian', 'Larsen', '77123456', 'christian.larsen@email.dk', 'Rungsted Strandvej 70, 2960 Rungsted', '0507797655', 0);

INSERT INTO [Employee] VALUES ('Jonas', 'Johnson', '12345678', 'admin@ferrari.dk', 'admin', -1, 0); -- Sales Manager
INSERT INTO [Employee] VALUES ('Morten', 'Hansen', '12345678', 'morten.hansen@ferrari.dk', 'password1', -1, 0); -- Sales Manager
INSERT INTO [Employee] VALUES ('Uranus', 'Saturnis', '12345678', 'employee@ferrari.dk', 'employee', 2400000, 0);

INSERT INTO [Loan] VALUES (1, 1, 2, 750000.00, 750000.00, 7.50, '2023-06-01', '2026-06-01', 0); -- PENDING_APPROVAL
INSERT INTO [Loan] VALUES (2, 2, 3, 1350000.00, 450000.00, 9.50, '2023-07-01', '2028-07-01', 1); -- APPROVED
INSERT INTO [Loan] VALUES (3, 3, 4, 1500000.00, 500000.00, 8.00, '2023-08-01', '2027-08-01', 2); -- REJECTED
 -- ACTIVE
 -- COMPLETED
 -- PENDING_APPROVAL
 -- APPROVED
 -- REJECTED
 -- ACTIVE
 -- COMPLETED
