
.root {
  -ferrari-red: #F50000;
  -darkest-gray: #111111;
  -darker-gray: #1F1F1F;
  -dark-gray: #373737;
  -text-color: #FFFFFF;
}

.root {
  -fx-font-family: "Inter", "Segoe UI", "Arial", sans-serif;
  -fx-background-color: #f7f7f7;
}

/* Sidebar header */
.sidebar Label {
    -fx-font-size: 36;
    -fx-font-weight: 600;
    -fx-text-fill: -ferrari-red;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 2);
}

.sidebar ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 2);
}

/* Sidebar */
.sidebar {
    -fx-background-color: -darkest-gray;
}

.sidebar ToggleButton {
    -fx-background-color: -darker-gray;
    -fx-text-fill: -text-color;
    -fx-font-size: 18;
    -fx-font-weight: 300;
    -fx-background-radius: 10 0 0 10;
    -fx-min-width: 200;
    -fx-min-height: 50;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 2);
}

.sidebar ToggleButton:hover {
    -fx-background-color: -dark-gray;
}

.sidebar ToggleButton:selected {
    -fx-background-color: -ferrari-red;
    -fx-text-fill: -darker-gray;
}

.sidebar-icon {
    -fx-fill: -text-color;
}

.sidebar-togglebutton:selected .sidebar-icon {
    -fx-fill: -darker-gray;
}

/* SearchContainer */
.search-container {
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0 5 0 5;
}

.search-container .text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 0;
}
